@import url('Downloads/Roboto');
body{
    font-family : 'Roboto' sans-serif;
    margin: 20px;
    background-color: rgba(216, 216, 214, 0.788);
    height: 3000px;

}
.part1 {
    background-image: url('images/image2.png');
    height: 450px;
    background-position: center;
    background-size: cover;
}

.part1 h3{
    color: #F19201;
    display: inline-block;
    flex-direction: row;
    text-decoration: bolder;
    font-weight: bolder;
}
.links a {
    margin: 2px;
    color: white; padding-right: 25px;
    text-decoration: none; 
    flex-direction: column;
    height: 20px;
    font-size: 15px;
}
.links {
    float: right;
    padding: 10px; 
    margin-top: 2px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    text-decoration: solid ;
    font-weight: bolder;
}
.links > nav > #home{
    color: #F19201 ;
}
.links > nav > #moringa {
    background-color: #F19201;
    color: white;
    text-align: center; 
    padding: 2px;
}
nav {
    display: block; 
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;
}
.part1 h1{
    color: white;
    margin: 10px;
    padding: 25px;
}
.part1 .order p {
    color: white;
    text-decoration: solid;
    background-color: #F19201;
    border: solid 10px #F19201; 
    text-align: center;
    height: 10px;
    width: 100px;
    margin: 40px; 
    padding: 5px; 
    

}
.part2{
    height: 500px;
    text-align: center;
}
.part2 h2{
    color: #F19201;
}
.part2 p {
    font-style: italic;
   margin: 2%; margin-top: 3%;
    width: 63%;
    padding-left: 17%;
}
.part2 .containers {
    display: flex;
}

.part2 .containers .one{
    background-color: white;
    text-align: center;
    padding: 10px; padding-top: 3%;
    width: 25%;
    margin: 3%;
    height: 200px;
}
.part2 .containers .circle{
    background: #F19201;
    display: inline-block;
    font-size: larger;
    font-weight: bolder;
    color: white;
    border-radius: 50%; 
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}
.part2 .containers .two{
    background-color: white;
    text-align: center;
    padding: 10px; padding-top: 3%;
    width: 25%;
    margin: 3%;
    height: 200px;
}

.part2 .containers .three{
    background-color: white;
    text-align: center;
    padding: 7px; padding-top: 3%;
    width: 25%;
    margin: 3%;
    height: 200px;
}

.part3 {
    height: 500px;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    display:flex;
    clear: both;
}
.part3 .column1 img {
    float: left;
    height: 500px;
    width: 100%;
    object-fit: cover;
    padding: 0px;
}
.part3 .column2{
    float: right;
    height: 500px;
    width: 100%;
    padding: 0; 
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: black;
}
.part3 .column2 h1{
    align-items: center;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 5px;
    font-size: 40px;
    display: inline-block;
    position: relative;
    
}
.part3 .column2 p{ 
    font-style: italic;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: large;
    padding: 10px;
    padding-left: 10%; padding-right: 10%; padding-top: 5%;
}
.part4 {
    width: 100%;
    padding: 1px; 
    height: 800px;
    text-align: center;   
}
.part4 .p{
    font-size: 10px;
    width: 50%;
    padding-left: 30%;
    margin: 0px;
    padding-bottom: 1%;
}
.part4 h2{
    color: #F19201;
}
.part4 p {
    font-style: italic;
    font-size: 15px;
    
}
.part4 .menu  h5{
    color: #F19201;
    font-size: 20px;
}
.part4 .menu  h4{
    color: black;
    font-size: 20px;
}
.part4 img{
    float: left;
    height: 200px;
    width: 200px;
    object-fit: cover;
    padding: 10px;
}
.part4 .menu {
    display: flex;
    flex-direction: row;
    margin: 40px;
    height: 200px;
    width: 200px;
    line-height: 15px;
    font-size: 30px;
}
.part4 .menu .food{
    float:right;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-align: left;
    height: 200px;
    width: 200px;
}
.part4 .menu .four{
    background-color: white;
    display: flex;
    float: right;
    flex-direction: row;
    padding: 1px;
    height: 250px;
    width: 350px;
    margin: 10px;
}

.part4 .menu .five{
    background-color: white;
    display: flex;
    float: right;
    flex-direction: row;
    padding: 1px;
    height: 250px;
    width: 350px;
    margin: 10px;
}

.part4 .menu .six{
    background-color: white;
    display: flex;
    float: right;
    flex-direction: row;
    padding: 1px;
    height: 250px;
    width: 350px;
    margin: 10px;
}

.part4 .menu .seven{
    background-color: white;
    display: flex;
    float: right;
    flex-direction: row;
    padding: 1px;
    height: 250px;
    width: 350px;
    margin: 10px;
}

.part5 {
    background-image: url('images/image8.png');
    height: 350px;
    padding: 5px;
    background-position: center;
    background-size: contain;
   
}